
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="https://www.multilab.co/index.php?lang=es">
                    <div class="b-bg">
                        <img src="/static/assets/images/logo_blanco.png" width="150">
                    </div>
                   
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Mapas</label>
                    </li>
                    
                    
                    <li data-username="Maps Google" 
                         class="nav-item {% if 'muestras_municipio' in segment %} active {% endif %}">
                        <a href="/muestras_municipio.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Muestras Municipio</span></a></li>
                    
                        <li data-username="Maps Google" 
                        class="nav-item {% if 'muestras_departamento' in segment %} active {% endif %}">
                       <a href="/muestras_departamento.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Muestras Departamento</span></a></li>
                   
                       <li data-username="Maps Google" 
                         class="nav-item {% if 'rango_municipios' in segment %} active {% endif %}">
                        <a href="/rango_municipios.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Rangos Municipio</span></a></li>
                       
                       
                        <li data-username="Maps Google" 
                        class="nav-item {% if 'rango_departamentos' in segment %} active {% endif %}">
                       <a href="/rango_departamentos.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Rangos Departamento</span></a></li>
                   
                    
                    
                    
                        <li class="nav-item pcoded-menu-caption">
                        <label>Páginas</label>
                    </li>
                   

                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{{ url_for('base_blueprint.logout') }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
